<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/logoIco.ico">
    <title>Khushee Shrivastav - Developer</title>
    <link rel="stylesheet" href="css/projects.css" />
    <script src="js/body.js"></script>

  </head>
  <body>
    <%- include("./partials/header.ejs", {c1: "", c2: "", c3: "", c4: "", c5:
    "focus"}) %>
    <div class="container">
      <div class="cards">
        <img src="images/project1.png" alt="" />
        <div class="text">
          <h2>Newsverse</h2>
          It is a website which unleashes the full potential of newsapi and integrate it to showcase all the articles in an easy manner. Any user with no knowledge of development can easily use it without thinking about the backend api calls
        </div>
        <a href="https://github.com/Khush-EE/Newsverse" target="_blank">GitHub Link</a>
      </div>
      <div class="cards">
        <img src="images/project2.png" alt="" />
        <div class="text">
          <h2>Accounter</h2>
          Managing your expenses and tracking it can be a very troublesome process on a regular basis. Accounter addresses this problem and makes it easy for the user to track it. Just enter all your expenses and it will take care of the stats.
        </div>
        <a href="https://github.com/Khush-EE/Accounter" target="_blank">GitHub Link</a>
      </div>
      <div class="cards">
        <img src="images/project3.png" alt="" />
        <div class="text">
          <h2>My Portfolio</h2>
          Using the powers of HTML CSS and JS, I have build my portfolio to showcase all of my achievements, projects and skills. This portfolio contains all the information to get to know me better. You can contact me via contact section.
        </div>
        <a href="https://github.com/Khush-EE/Portfolio-website" target="_blank">GitHub Link</a>
      </div>
    </div>
  </body>
</html>
